{% extends 'base.html' %}

{% block title %} Listado de Vacunas {% endblock %}

{% block content %}
    <h1>Listado de Vacunas</h1>

    <div class="bibl-table">
        <div class="bibl-table-header">
            <a href="{% url create_url %}">
                <button type="button" class="btn btn-success"> Registrar vacuna</button>
            </a>
            {% if buscador %}
            <form method="get" class="d-flex">
                {{ buscador.q }}
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
            {% endif %}
        </div>

        <div class="bibl-table-body" style="margin-top: 25px;">
            <table>
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                </tr>
                </thead>
                <tbody>{% for data in object_list %}
                    <tr>
                        <td>{{ data.nombre }}</td>
                        <td><a href="{% url edit_url data.id %}" class="btn btn-secondary">Editar</a></td>
                        <td><a href="{% url delete_url data.id %}" class="btn btn-danger">Borrar</a></td>
                    </tr>{% endfor %} 
                </tbody>
            </table>
        </div>
    </div>
{% endblock  %}

