<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a href="/" class="navbar-brand" href="#">Biblioteca</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/adopcion/persona/fnc/list/" tabindex="-1" aria-disabled="true">Personas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/adopcion/persona/list/" tabindex="-1" aria-disabled="true">Personas CBV</a>
        </li>



        <li class="nav-item">
          <a class="nav-link" href="/mascota/vacuna/fnc/list/" tabindex="-1" aria-disabled="true">Vacunas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mascota/vacuna/list/" tabindex="-1" aria-disabled="true">Vacunas CBV</a>
        </li>



        <li class="nav-item">
          <a class="nav-link" href="/mascota/mascota/fnc/list/" tabindex="-1" aria-disabled="true">Mascotas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mascota/mascota/list/" tabindex="-1" aria-disabled="true">Mascotas CBV</a>
        </li>
      </ul>
    </div>
  </div>
</nav>