<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a href="/" class="navbar-brand" href="#">djRefugioMascotas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'persona_list_fnc' %}" tabindex="-1" aria-disabled="true">Personas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'persona_list_cbv' %}" tabindex="-1" aria-disabled="true">Personas CBV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'persona_list_api' %}" tabindex="-1" aria-disabled="true">Personas API</a>
        </li>



        <li class="nav-item">
          <a class="nav-link" href="{% url 'vacuna_list_fnc' %}" tabindex="-1" aria-disabled="true">Vacunas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'vacuna_list_cbv' %}" tabindex="-1" aria-disabled="true">Vacunas CBV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'vacuna_list_api' %}" tabindex="-1" aria-disabled="true">Vacunas API</a>
        </li>



        <li class="nav-item">
          <a class="nav-link" href="{% url 'mascota_list_fnc' %}" tabindex="-1" aria-disabled="true">Mascotas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'mascota_list_cbv' %}" tabindex="-1" aria-disabled="true">Mascotas CBV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'mascota_list_api' %}" tabindex="-1" aria-disabled="true">Mascotas API</a>
        </li>
      </ul>
    </div>
  </div>
</nav>